<section class="appendix">
<!--
{{ if $.Site.Data.authors }}
{{ if .Params.author }}
<div>
  <div class="side side-left"><h3>Author's bio</h3></div>
  <div>{{ partial "bio.html" . }}</div>
</div>
{{ end }}
{{ end }}
-->

{{ range $key, $value := .Params.appendix }}
<div>
  <div class="side side-left"><h3>{{ $key | title }}</h3></div>
  <div>{{ $value | markdownify }} </div>
</div>
{{ end }}


{{ with (default .Params.license .Site.Params.license ) }}
<div>
<!--
  <div class="side side-left"><h3>Reuse</h3></div>
-->
  <div class="side side-left"><h3>重复使用</h3></div>
  {{ . | markdownify }}
</div>
{{ end }}

{{ partial "correction.html" . }}

{{ if .Params.author }}
<div>
  <div class="side side-left"><h3>引用本文</h3></div>
  <p>如果您使用了本文的内容，请按照以下方式引用：</p>
<!--
  <div class="side side-left"><h3>Citation</h3></div>
  <p>For attribution, please cite this work as</p>
-->
  <pre><code class="no-highlight">{{ with .Params.author }}{{ if (reflect.IsSlice .) }}{{ delimit . ", " }}{{ else }}{{ . }}{{ end }}{{ end }} ({{ (or .Date now).Format "2006" }}). {{ .Title }}. {{ .Site.Title }}. {{ .Permalink}}</code></pre>
  <p>BibTeX citation</p>
  <pre><code class="no-highlight">@misc{
  title = "{{ .Title }}",
  author = "{{ with .Params.author }}{{ if (reflect.IsSlice .) }}{{ delimit . " and " }}{{ else }}{{ . }}{{ end }}{{ end }}",
  year = "{{ (or .Date now).Format "2006" }}",
  journal = "{{ .Site.Title }}",
  note = "{{ .Permalink }}"
}</code></pre>
</div>
{{ end }}

</section>

<section class="appendix">
<div>
  <div class="side side-left"><h3>欢迎留言</h3></div>
  <script src="https://utteranc.es/client.js"
        repo="pzhaonet/msg2020"
        issue-term="pathname"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
  </script>
</div>
</section>
